*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f7fa;
}

.layout{
  display:flex;
  min-height:100vh;
}

/* SIDEBAR */

.sidebar{

  width:260px;

  background:linear-gradient(
    180deg,
    #000,
    #111
  );

  color:white;

  padding:20px;

  border-right:1px solid #222;
}

.logo{
  display:flex;
  align-items:center;
  gap:15px;
  margin-bottom:40px;
}

.logo img{

  width:65px;
  height:65px;

  object-fit:cover;

  border-radius:14px;

  border:2px solid #444;
}

.logo h2{

  color:#fff;

  font-size:18px;

  letter-spacing:2px;
}

.logo span{

  color:#9ca3af;

  font-size:12px;

  letter-spacing:3px;
}

.menu{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.menu a{

  color:white;

  text-decoration:none;

  padding:14px;

  border-radius:10px;

  transition:0.3s;
}

.menu a:hover,
.menu .active{

  background:#1f2937;

  border-left:4px solid silver;
}

.content{
  flex:1;
  padding:30px;
}

.topbar{
  margin-bottom:30px;
}

.cards{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:20px;
}

.card-info{

  background:white;

  border:1px solid #e5e7eb;

  padding:25px;

  border-radius:18px;

  display:flex;

  align-items:center;

  gap:20px;

  box-shadow:0 4px 10px rgba(0,0,0,0.08);
}

.card-info i{

  font-size:40px;

  color:#c0c0c0;
}

.formulario{

  background:white;

  padding:25px;

  border-radius:18px;

  display:grid;

  gap:15px;

  margin-bottom:30px;
}

.formulario input{

  padding:14px;

  border:1px solid #ccc;

  border-radius:10px;
}

.formulario button{

  padding:14px;

  border:none;

  background:black;

  color:white;

  border-radius:10px;

  cursor:pointer;
}

.tabela-container{

  background:white;

  padding:20px;

  border-radius:18px;

  overflow:auto;
}

table{
  width:100%;
  border-collapse:collapse;
}

th,td{
  padding:14px;
  text-align:center;
  border-bottom:1px solid #ddd;
}

.verde{
  background:#d4edda;
}

.laranja{
  background:#fff3cd;
}

.vermelho{
  background:#f8d7da;
}